// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






#map-canvas, #hotspot-map {
  width: 100%;
  height: 400px;
}


#hslist{
	margin-top: 70px;
}

ul{
	font-size: 30px;

}